spring:
  config:
    activate:
      on-profile: local
  jpa:
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 1000
  datasource:
    url: jdbc:postgresql://localhost:13501/spring_ai_playground?reWriteBatchedInserts=true
    username: postgres
    password: password

decorator:
  datasource:
    p6spy:
      enable-logging: true
